//배너
.ban {
    width: 100%;
    height: auto;
    float: left;

    img {
        width: 100%;
        height: auto;
        float: left;
    }
}

//맵 나오게 하는 버튼
#mapBut {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: chocolate;
    position: fixed;
    right: 30px;
    top: 50%;
    z-index: 99;
    background: url(../img/how/map.png) no-repeat;
    background-size: cover;
    cursor: pointer;

    #line {
        width: 100%;
        height: 100%;
        border: 1px solid gray;
        position: absolute;
        top: 0%;
        left: 0%;
        border-radius: 50%;
        animation-name: line;
        animation-direction: normal;
        animation-iteration-count: infinite;
        animation-duration: 0.8s;
    }
}

@keyframes line {
    from {
        transform: scale(1);
        opacity: 0;
    }

    to {
        transform: scale(1.2);
        opacity: 1;
    }
}

//맵스크린
#mapDis {
    width: 1200px;
    height: 100vh;
    position: fixed;
    left:  150%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: beige;
    z-index: 99;
    i{
        position: absolute;
        right: 50px;
        top: 30px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
    }
    .title {
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 30px;
        text-align: center;
        font-weight: 300;
        margin-top: 30px;
    }

    #map {
        width: 100%;
        height: 500px;
        float: left;
    }

    .wrap {
        width: 100%;
        height: auto;
        overflow: hidden;
        background-color: white;
        position: relative;
        display: none;
    }

    .cir {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: cyan;
        text-align: center;
    }

    .tit {
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }

    .mask {
        width: 100%;
        height: auto;
        float: left;
        overflow: hidden;
    }

    .demo_bot {
        width: 300%;
        height: 150px;
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .demo_bot > li {
        flex-grow: 1;
        height: 100%;
        float: left;
        box-sizing: border-box;
        position: relative;
    }

    .thr {
        width: 100%;
        height: 130px;
        display: flex;
        padding-top: 20px;
        box-sizing: border-box;
        flex-direction: row;
    }

    .thr > li {
        flex-grow: 1;
        height: 100%;
        text-align: center;
    }

    .thr > li.mid {
        flex-grow: 2;
        background-color: beige;
        color: #333;
    }

    /*배너*/
    .but {
        width: 100%;
        height: 30px;
        position: absolute;
        bottom: 0;
        z-index: 9;
    }

    .but > li {
        position: absolute;
        width: 30px;
        height: 100%;
        cursor: pointer;
    }

    .but > li.lef {
        left: 20px;
    }

    .but > li.rig {
        right: 20px;
    }

    /*각섹턴 세부사항*/
    .topText {
        width: 100%;
        height: 30px;
        border-bottom: 1px solid cyan;
        box-sizing: border-box
    }

    span {
        float: left;
    }

    .cnt {
        margin-left: 20px
    }

    .cnt.val {
        margin: 0;
    }

    .lis {
        float: right;
        margin-right: 20px;
    }

}

//하는방법
.howToUse {
    width: 1200px;
    height: 2600px;
    margin: 0 auto;
    ;

    .title {
        width: 100%;
        text-align: center;
        font-size: 30px;
        margin-top: 30px;
    }

    p.how {
        width: 1070px;
        height: 30px;
        line-height: 30px;
        margin-top: 15px;

        span {
            float: left;
            font-size: 20px;
        }
    }

    p.des {
        width: 1070px;
        height: 30px;
        line-height: 30px;
        margin-top: 15px;

        span {
            float: left;
            font-size: 16px;
        }
    }

    .step {
        width: 100%;
        height: 150px;
        background-color: #efefef;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .circle {
            border: 2px solid gray;
            border-radius: 80%;
            width: 100px;
            height: 100px;
            text-align: center;
            line-height: 100px;
            position: relative;

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
                border: 1px solid gray;
                animation-name: line;
                animation-direction: normal;
                animation-iteration-count: 1;
                animation-duration: 0.5s;
            }

            &:nth-child(1)::after {
                animation-delay: 0s;
            }

            &:nth-child(2)::after {
                animation-delay: 0.5s;
            }

            &:nth-child(3)::after {
                animation-delay: 1s;
            }

            &:nth-child(4)::after {
                animation-delay: 1.5s;
            }

            &:nth-child(5)::after {
                animation-delay: 2s;
            }
        }
    }

    #list {
        width: 1200px;
        height: auto;
        margin: 0 auto;

        & > li {
            width: 100%;
            height: 365px;
            margin-top: 30px;
            border: 1px solid black;

            .img {
                width: 550px;
                height: 100%;
                float: right;
                background-color: salmon;

                img {
                    width: 100%;
                    height: auto;
                    float: left;
                }

                &.lef {
                    float: left;
                }
            }

            .flow {
                width: 640px;
                margin-top: 30px;
                text-align: center;
                float: right;

                &.lef {
                    float: left;
                }
            }
        }
    }
}
